@font-face {
  font-family: "Verlag";
  font-weight: normal;
  src: local("Verlag-Book"), url("../assets/fonts/Verlag-Book.otf") format("opentype");
}

$font-stack: "Verlag", Helvetica, sans-serif !important;

body {
  font-family: $font-stack;
}
