@import "bootstrap";
@import "./colors.scss";

$transition-duration: 0.2s;
$border-radius: 0.25rem;

body {
  height: 100vh;
}

#root {
  height: 100%;
}

button {
  border: none;
}

*:focus {
  outline: none !important;
}

.card {
  margin-bottom: 1rem;
}

.img-circle-container {
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
  }
}

.img-square-container {
  @extend .img-circle-container;
  border-radius: $border-radius;
}

img {
  border-radius: $border-radius;
}

.secondary-info {
  i {
    margin-right: 0.25rem;
    color: $md-gray;
    min-width: 30px;
  }
  span:not(:last-child),
  a:not(:last-child) {
    margin-right: 2.25rem;
    margin-bottom: 0.5rem;
  }
}

hr {
  margin: 1.75rem 0;
}

.quotes {
  border: none;
  background-color: $lt-gray;
  h1 {
    margin-top: -0.25rem;
    margin-left: -0.25rem;
    margin-right: 0.5rem;
  }

  .quote:not(:last-child) {
    margin-bottom: 1rem;
  }
}
