@import "styles/colors.scss";
.alumni-stories-list {
  .card:hover {
    cursor: pointer;
  }
  .card-body {
    padding: 2rem;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .btn:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
