@import "styles/index.scss";
@import "styles/colors.scss";

.bottom-button-div {
  $button-height: 51px;
  z-index: 10;
  position: fixed;
  background-color: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: auto;
  height: $button-height + 30px;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .bottom-button {
    height: $button-height;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
