@import "styles/colors.scss";
@import "styles/index.scss";

.navbar {
  z-index: 2;
}

.navbar.bg-light {
  background-color: $off-white !important;
  border: $lt-border;
  z-index: 1;
  height: 8%;
}

.nav-link {
  padding: 0.5rem 1rem !important;
  border-radius: $border-radius;
  color: $hope-orange !important;
  transition-duration: $transition-duration;
}

.nav-link:not(:last-child) {
  margin-right: 0.25rem;
}

.nav-link:hover {
  background-color: $hope-orange;
  color: $off-white !important;
}

.nav-link.active {
  background-color: $hope-blue;
  color: $off-white !important;
}
