@import "styles/colors.scss";
@import "styles/fonts.scss";

.map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

// TODO: cluster markers should be centered on their location, not aligned to top-left
.cluster-marker {
  color: $white;
  font-family: $font-stack;
  font-size: 12pt;
  background: $hope-blue;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-marker {
  color: $hope-blue;
}
