@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/index.scss";

.pending-map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: #0000003d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

.cluster-marker,
.point-marker {
  color: $off-white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  transition-duration: $transition-duration;
}

.cluster-marker:hover,
.point-marker:hover,
.cluster-marker:focus,
.point-marker:focus {
  cursor: pointer;
  box-shadow: 0 0 1rem $white;
  z-index: 1;
}

.cluster-marker {
  background-color: $hope-blue;
  font-family: $font-stack;
  font-size: 14pt;
}

.point-marker {
  background-color: $lake-mi-blue;
  padding: 6px;
}

.map-popover {
  max-width: unset !important;
  > .popover-body {
    max-height: 16rem;
    overflow: auto;
  }
}

.alum-popover-item {
  width: 24rem;
}
