@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/index.scss";

.pending-map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: #0000003d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.map-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}

.map-container.background {
  z-index: -10000;
  // pointer-events: none;
  opacity: 0.15;
  position: fixed;
}

.cluster-marker,
.point-marker {
  color: $off-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  transition-duration: $transition-duration;
}

.cluster-marker:hover,
.point-marker:hover,
.cluster-marker:focus,
.point-marker:focus {
  cursor: pointer;
  box-shadow: 0 0 1rem $white;
  z-index: 100000 !important;
  opacity: 1 !important;
  transform: scale(1.2) translate(42%, -42%);
}

.cluster-marker {
  background-color: $hope-blue;
  font-family: $font-stack;
  font-size: 18pt;
}

.point-marker {
  background-color: $lake-mi-blue;
  font-size: 14pt;
}

.map-popover {
  max-width: unset !important;
  > .popover-body {
    max-height: 16rem;
    overflow: auto;
  }
}

.alum-popover-item {
  width: 30rem;
}

.job-popover-item {
  width: 36rem;
}

#mapDiv {
  position: absolute;
}

#tagline,
.map-container a {
  pointer-events: none !important;
}

.click-blocker {
  position: absolute;
  min-width: 69px;
  bottom: 0;
  z-index: 3000;
}

.click-blocker.left {
  min-height: 23.5px;
  left: 3px;
}

.click-blocker.right {
  position: absolute;
  min-height: 17px;
  right: 2px;
}

#tagline {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 24rem !important;
  position: fixed;
  z-index: 100;
}
